[Unit]
Description=Techpriest site. The code that powers noirscape.dev
After=local-fs.target remote-fs.target network.target

[Service]
Type=notify
Restart=on-abort
User=techpriestsite
ExecStart=/opt/noirscape.dev/techpriestsite
WorkingDirectory=/opt/noirscape.dev

[Install]
WantedBy=multi-user.target
