@use crate::post::Post;
@use super::{header_html, footer_html};

@(posts: Vec<Post>)

@:header_html(Some("Blog"), None)

<h1>Blogposts</h1>

<p>If you have a compatible reader, be sure to check out my <a href="/blog.rss">RSS Feed</a> for automatic updates. Also check out the <a href="/blog.json">JSONFeed</a>.</p>

<p>For a breakdown by post series, see <a href="/blog/series">here</a>.</p>

<p>
    <ul>
        @for post in posts {
            <li>@post.date.format("%Y-%m-%d") - <a href="/@post.link">@post.front_matter.title</a></li>
        }
    </ul>
</p>

<br />

@:footer_html()
